/@src
.vs
bin
obj
*.tmp
*.user
/packages

/_SampleScenarios/BveEx/

/_SampleScenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.dll
/_SampleScenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.pdb
/_SampleScenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.dll.config
/_SampleScenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.xml
/_SampleScenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/Resources

/_SampleScenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/*.dll
/_SampleScenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/*.pdb
/_SampleScenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/*.dll.config
/_SampleScenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/*.xml
/_SampleScenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/Resources

/_SampleScenarios/BveEx.Samples/Vehicles/E217r/Ats/Samples/*.dll
/_SampleScenarios/BveEx.Samples/Vehicles/E217r/Ats/Samples/*.pdb
/_SampleScenarios/BveEx.Samples/Vehicles/E217r/Ats/Samples/*.dll.config
/_SampleScenarios/BveEx.Samples/Vehicles/E217r/Ats/Samples/*.xml

/_SampleScenarios/Uchibo20
