/@src
.vs
bin
obj
*.tmp
*.user
/DllExport.bat
/packages

/_InputDevices

/_SampleScenarios/AtsEx/*.dll
/_SampleScenarios/AtsEx/*.exe
/_SampleScenarios/AtsEx/*.pdb
/_SampleScenarios/AtsEx/*.dll.config
/_SampleScenarios/AtsEx/*.exe.config
/_SampleScenarios/AtsEx/*.xml

/_SampleScenarios/AtsEx/*/*.dll
/_SampleScenarios/AtsEx/*/*.pdb
/_SampleScenarios/AtsEx/*/*.dll.config
/_SampleScenarios/AtsEx/*/*.xml
/_SampleScenarios/AtsEx/*/*/*.resources.dll
/_SampleScenarios/AtsEx/*/Resources

/_SampleScenarios/AtsEx/*/Extensions/*.dll
/_SampleScenarios/AtsEx/*/Extensions/*.pdb
/_SampleScenarios/AtsEx/*/Extensions/*.dll.config
/_SampleScenarios/AtsEx/*/Extensions/*.xml
/_SampleScenarios/AtsEx/*/Extensions/Resources

/_SampleScenarios/AtsEx/*/Troubleshooters/*.dll
/_SampleScenarios/AtsEx/*/Troubleshooters/*.pdb
/_SampleScenarios/AtsEx/*/Troubleshooters/*.dll.config
/_SampleScenarios/AtsEx/*/Troubleshooters/*.xml
/_SampleScenarios/AtsEx/*/Troubleshooters/Resources

/_SampleScenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.dll
/_SampleScenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.pdb
/_SampleScenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.dll.config
/_SampleScenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.xml
/_SampleScenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/Resources

/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/*.dll
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/*.pdb
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/*.dll.config
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/*.xml
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/Resources

/_SampleScenarios/AtsEx.Samples/Vehicles/E217r/Ats/Samples/*.dll
/_SampleScenarios/AtsEx.Samples/Vehicles/E217r/Ats/Samples/*.pdb
/_SampleScenarios/AtsEx.Samples/Vehicles/E217r/Ats/Samples/*.dll.config
/_SampleScenarios/AtsEx.Samples/Vehicles/E217r/Ats/Samples/*.xml

/_SampleScenarios/Uchibo20
