/BveEx

/Scenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.dll
/Scenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.pdb
/Scenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.dll.config
/Scenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.xml
/Scenarios/BveEx.Samples/Maps/Basic/Samples/*/MapPlugins/Resources

/Scenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/*.dll
/Scenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/*.pdb
/Scenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/*.dll.config
/Scenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/*.xml
/Scenarios/BveEx.Samples/Vehicles/Basic/BveEXPlugins/Resources

/Scenarios/BveEx.Samples/Vehicles/E217r/Ats/Samples/*.dll
/Scenarios/BveEx.Samples/Vehicles/E217r/Ats/Samples/*.pdb
/Scenarios/BveEx.Samples/Vehicles/E217r/Ats/Samples/*.dll.config
/Scenarios/BveEx.Samples/Vehicles/E217r/Ats/Samples/*.xml

/Scenarios/Uchibo20
