/BveEx

/Scenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.dll
/Scenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.pdb
/Scenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.dll.config
/Scenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/*.xml
/Scenarios/AtsEx.Samples/Maps/Basic/Samples/*/MapPlugins/Resources

/Scenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/*.dll
/Scenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/*.pdb
/Scenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/*.dll.config
/Scenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/*.xml
/Scenarios/AtsEx.Samples/Vehicles/Basic/AtsEXPlugins/Resources

/Scenarios/AtsEx.Samples/Vehicles/E217r/Ats/Samples/*.dll
/Scenarios/AtsEx.Samples/Vehicles/E217r/Ats/Samples/*.pdb
/Scenarios/AtsEx.Samples/Vehicles/E217r/Ats/Samples/*.dll.config
/Scenarios/AtsEx.Samples/Vehicles/E217r/Ats/Samples/*.xml

/Scenarios/BveEx.Samples
/Scenarios/Uchibo20
